pandas
openpyxl
ipykernel
Pillow
pywin32
PyPDF2
pdfquery
JPype1
mysql-connector-python
python-dotenv
requests
boto3
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
matplotlib